@use "variables";

@mixin flex-center($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin all-size {
  width: 100%;
  height: 100%;
}

@mixin querie($range) {
  @if $range == tp {
    @media (min-width: #{variables.$breakpoint-tp}) {
      @content;
    }
  } @else if $range == tl {
    @media (min-width: #{variables.$breakpoint-tl}) {
      @content;
    }
  } @else if $range == d {
    @media (min-width: #{variables.$breakpoint-d}) {
      @content;
    }
  } @else if $range == bd {
    @media (min-width: #{variables.$breakpoint-bd}) {
      @content;
    }
  }
}
